[submodule "packages/substrate-archive"]
	path = packages/substrate-archive
	url = https://github.com/playzero/substrate-archive
[submodule "packages/substrate-graph-frontend"]
	path = packages/substrate-graph-frontend
	url = https://github.com/playzero/substrate-graph-frontend
